


/* COLORS */

$green: #7fba00;
$bright-blue: #00bcf2;
$dark-gray: #252525;
$gray: #bbb;
$light-gray: #f1f1f1;



/* PAGE EDITOR */

poetry-ui-page-editor {
    overflow-y: auto;
    flex-grow: 1;
    position: relative;
    display: block;
}

.poetry-ui-page-editor-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    border: none;
}



/* PROPERTIES */

.poetry-ui-property {
    position: absolute;
    pointer-events: none;
}

.poetry-ui-property-border {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 1px $bright-blue;
}

.poetry-ui-property.hover {
    z-index: 10;
}

.poetry-ui-property.poetry-ui-hover .poetry-ui-property-border {
    border: solid 2px $green;
}

.poetry-ui-property-title {
    display: none;
    position: absolute;
    left: 0px;
    bottom: 100%;
    margin-bottom: -2px;
    padding: 0px 4px 2px;
    background: $green;
    color: white;
    font-size: 14px;
}

.poetry-ui-property.poetry-ui-hover .poetry-ui-property-title {
    display: block;
}



/* PROPERTY BLUR DETECTOR */

.poetry-ui-property-blur-detector {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}