span.poetry-ui-page-editing-property {
    display: inline-block;
}

textarea.poetry-ui-page-editing-property-editor {
    overflow: hidden;
    margin: 0;
    display: block;
    width: 100%;
    height: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    resize: none;

    &:focus {
        outline: none;
    }
}
