


/* GLOBAL ELEMENTS */

@media(max-width: (320px - 1)) {
    html {
        font-size: 14px;
    }
}

@media(max-width: (240px - 1)) {
    html {
        font-size: 12px;
    }
}

body {
    margin: 0;
    background: white;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.4;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
}

a[href^="mailto:"] {
    word-break: break-word;
}

p {
    margin-top: 0;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

label {
    display: block;
    cursor: pointer;
}

input, textarea, select, button {
    font-family: inherit;
    font-weight: inherit;
    border-radius: 0;
}

table {
    border-collapse: collapse;
}

th {
    font-weight: inherit;
    text-align: inherit;
}

td, th {
    vertical-align: top;
}



/* PORTAL */

portal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #215b7d;
}



/* MAIN NAV */

portal-nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 1rem;
    height: 1.5rem;
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-image: url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z' fill='%23ffffff'/%3E%3C/svg%3E");
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover,
    &:focus,
    &.active {
        background-color: rgba(255, 255, 255, 0.15);
    }

    &:focus {
        outline: none;
    }
}

portal-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 15rem;
    max-width: 100%;
    padding-top: 3.5rem;
    background: #252525;
}

portal-nav-item {
    display: block;
    padding: 0.5em;
    padding-left: 1em;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

portal-nav-item.active,
portal-nav-item:hover {
  background: #3d3d3d;
}



/* APP */

app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}



/* VARIABLES */

$padding-base: 1rem;
$large-font: 1.1rem;
$small-font: 0.9rem;



/* BLADE */

poetry-ui-blade-outer {
    flex: 1 0 0;
    display: flex;
    max-width: 100vw;
}

@media(max-width: (576px - 1)) {
    poetry-ui-blade-outer {
        &:not(:last-child) {
            display: none;
        }
    }
}

@media(min-width: 576px) {
    poetry-ui-blade-outer {
        flex: 0 0 auto;
        width: 25rem;

        &.poetry-ui-blade-fullscreen {
            flex-grow: 1;
        }
    }
}

blade {
    flex: 1;
    flex-direction: column;
    display: flex;
    max-width: 100vw;
}

@media(min-width: 576px) {
    blade {
        width: 25rem;
        border-right: solid 2px #bbb;
        box-sizing: border-box;

        poetry-ui-blade-outer.poetry-ui-blade-fullscreen & {
            border-right: none;
        }
    }
}



/* TITLE */

blade-title {
    flex: 0 0 auto;
    display: flex;
    background: #252525;
}

blade-title-text {
    display: block;
    padding: 1rem 1rem 1rem 3.5rem;
    font-size: $large-font;
    color: white;
}

@media(min-width: 576px) {
    blade-title-text {
        blade:not(:first-child) & {
            padding-left: 1rem;
        }
    }
}

blade-title-close {
    margin-left: auto;
    display: block;
    width: 3rem;
    min-height: 3rem;
    background: center no-repeat;
    background-size: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3E%3Cpath d='M2 2L18 18M18 2L2 18' fill='none' stroke='%23fff' stroke-width='2' /%3E%3C/svg%3E");
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
        background-color: #0058ad;
    }
}



/* TOOLBAR */

blade-toolbar {
    flex: 0 0 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: flex;
    flex-wrap: nowrap;
    padding: ($padding-base / 2) $padding-base;
    border-bottom: solid 1px #ccc;
    background: white;

    > * {
        margin-left: ($padding-base / 2);

        &:first-child {
            margin-left: 0;
        }
    }

    blade-content + & {
        flex-grow: 1;
        border-top: solid 1px #ccc;
        border-bottom: none;
        align-items: baseline;
    }
}



/* CONTENT */

blade-content {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
    display: block;
    padding: $padding-base;
    background: white;
}



/* CUSTOM CONTENT */

blade-custom-content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: white;
}



/* LOADING STATE */

.blade-not-loading {
    transition: opacity 0.2s, filter 0.2s;
}

.blade-loading {
    opacity: 0.5;
    filter: grayscale(100%);
    transition: opacity 0.2s, filter 0.2s;
}



/* BUTTON */

portal-button,
.portal-button {
    display: inline-block;
    padding: 0.5em 0.75em;
    background: #0058ad;
    color: white;
    line-height: 1;
    cursor: pointer;

    &:hover {
        background: darken(#0058ad, 10%);
    }

    &.portal-button-active {
        background: darken(#0058ad, 15%);
    }
}