/* GLOBAL ELEMENTS */
body {
  margin: 0;
  background: white;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.4; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit; }

a[href^="mailto:"] {
  word-break: break-word; }

p {
  margin-top: 0; }

h1, h2, h3, h4, h5 {
  margin-top: 0; }

label {
  display: block;
  cursor: pointer; }

input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  border-radius: 0; }

table {
  border-collapse: collapse; }

th {
  font-weight: inherit;
  text-align: inherit; }

td, th {
  vertical-align: top; }

/* PORTAL */
portal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 0;
  margin: 0;
  background: #215b7d; }

/* MAIN NAV */
portal-nav {
  display: block;
  background: #252525;
  flex: 0 0 200px; }

portal-nav-item {
  display: block;
  padding: 10px;
  padding-left: 20px;
  color: white;
  cursor: pointer; }

portal-nav-item.active,
portal-nav-item:hover {
  background: #3d3d3d; }

@media (max-width: 500px) {
  portal-nav {
    display: none; } }

/* APP */
app {
  flex: 1 0 0;
  display: flex; }

/* BLADE */
blade {
  box-sizing: border-box;
  flex: 0 0 300px;
  border-right: solid 2px #bbb;
  background: white;
  padding: 10px; }

blade.fullscreen {
  flex-grow: 1; }

@media (max-width: 500px) {
  blade {
    flex: 1 0 0;
    border-right: none; }
    blade:not(:last-child) {
      display: none; } }

/* HEADING */
.heading {
  margin-bottom: 20px;
  font-size: 22px; }

/* BUTTON */
portal-button {
  padding: 5px 10px;
  border: none;
  background: #0058ad;
  color: white;
  cursor: pointer; }
  portal-button + portal-button {
    margin-left: 10px; }
  portal-button:hover {
    background: #003e7a; }

