@using Website.CategorySupport
@using Website.RoutingSupport

@inject CategoryRepository CategoryRepository
@inject UrlProvider UrlProvider

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Categories:</p>

<ul>
    @foreach (var category in CategoryRepository.GetAll())
    {
        <li><a href="@UrlProvider.GetUrl(category)">@category.Name</a></li>
    }
</ul>