@using Website.CategorySupport
@using Website.ProductSupport
@using Poetry.UI.AspNetCore.PageEditingSupport

@inject IProductRepository ProductRepository
@inject IProductUrlProvider ProductUrlProvider

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Category

<h1>@Html.PropertyFor(m => m.Name) (<a href="/Admin">Edit</a>)</h1>

<p>Products:</p>

<ul>
    @foreach (var product in ProductRepository.GetAll().Where(p => p.CategoryId == Model.Id))
    {
        <li><a href="@ProductUrlProvider.GetUrl(product)">@product.Name</a></li>
    }
</ul>