@using Website.CategorySupport

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Categories:</p>

<ul>
    @foreach (var category in DependencyResolver.Current.GetService<ICategoryRepository>().GetAll())
    {
        <li><a href="@(DependencyResolver.Current.GetService<ICategoryUrlProvider>().GetUrl(category))">@category.Name</a></li>
    }
</ul>