


/* EDIT BUTTON */

list-edit-button {
    display: block;
    padding: 4px;
    border: none;
    background: #0058ad;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1;
    text-transform: uppercase;
}

list-edit-button:hover {
    background: darken(#0058ad, 10%);
}