/* LIST */
.data-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse; }
  .data-table th,
  .data-table td {
    padding: 5px;
    padding-right: 0;
    border-bottom: solid 1px #ccc;
    font-size: 80%;
    vertical-align: top; }
  .data-table th {
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    font-size: 80%; }
    .data-table th.data-table-column-header {
      width: 50%; }
    .data-table th.data-table-edit-column-header {
      width: 1%; }
  .data-table td.data-table-edit-column {
    padding-right: 5px;
    line-height: 1; }
  .data-table tr:hover td {
    background: #f3f3f3; }

