


/* TABLE */

.data-table {
    width: 100%;
    margin-bottom: 20px;

    th,
    td {
        padding: 5px;
        padding-right: 0;
        border-bottom: solid 1px #ccc;
        font-size: 80%;
    }

    th {
        text-transform: uppercase;
        font-size: 80%;

        &.data-table-column-header {
            width: 50%;
        }

        &.data-table-edit-column-header {
            width: 1%;
        }
    }

    td.data-table-edit-column {
        padding-right: 5px;
        line-height: 1;
        white-space: nowrap;
    }

    tr:hover td {
        background: #f3f3f3;
    }
}



/* EDIT BUTTON */

data-table-edit-button,
.data-table-edit-button {
    display: inline-block;
    padding: 4px;
    background: #0058ad;
    color: white;
    cursor: pointer;
    line-height: 1;
    text-transform: uppercase;

    & + & {
        margin-left: 5px;
    }

    &:hover {
        background: darken(#0058ad, 10%);
    }
}